bin/
build/
*.o
tests/tmp/
tmp/

# autotools generated
autom4te.cache/
aclocal.m4
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
test-driver
Makefile.in
src/Makefile.in
include/Makefile.in
tests/Makefile.in

src/.deps/
src/aicli
tests/*.log
tests/*.trs
tests/test-suite.log
Makefile
